BACKEND_URL=http://localhost:8002
# prod: BACKEND_URL=https://agro-back-production.up.railway.app
NEXT_PUBLIC_SUPABASE_URL=https://ujytfzskyizupdvuxewq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cSiGaHAetIXl0ETbNF0qhg_zixCC6lo
